<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="list_container" style=""> 
        <ul> 
                <li class=""> 
                        <div class="block"><i></i><b></b><a class="expander container" href="#"><span class="hide aPath">cm9vdA==.YTY3.dGFibGVz.YWN0b3I=.Y29sdW1ucw==</span><span 
                                    class="hide vPath">cm9vdA==.YTY3.6KGo.YWN0b3I=.5a2X5q61</span><span class="hide pos">0</span><span 
                                    class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span 
                                    class="hide pos3_name">columns</span><span class="hide pos3_value">0</span><img src="http://39.106.151.0/self-mvc/public/homePage_files/dot.gif"
                                                                                                                    title="扩展/收起" 
                                                                                                                    alt="扩展/收起" 
                                                                                                                    class="icon ic_b_plus" type="list" database="<?=$database?>" table="<?=$table?>"></a>
                            </div> 
                        <i> 
                                <div class="block "><a 
                                            href="tbl_structure.php?server=1&amp;db=a67&amp;table=actor&amp;token=88ce978716ab9a1ebd5a22ee7c857ed9">
                                    <img src="http://39.106.151.0/self-mvc/public/homePage_files/dot.gif" title="字段" alt="字段" class="icon ic_pause"></a></div>&nbsp;<a
                                    class="hover_show_full" 
                                    href="tbl_structure.php?server=1&amp;db=a67&amp;table=actor&amp;token=88ce978716ab9a1ebd5a22ee7c857ed9">字段</a></i> 
                        <div class="clearfloat"></div> 
             
                    </li> 
                <li class="last"> 
                        <div class="block"><i></i><a class="expander container" href="#"><span class="hide aPath">cm9vdA==.YTY3.dGFibGVz.YWN0b3I=.aW5kZXhlcw==</span><span 
                                    class="hide vPath">cm9vdA==.YTY3.6KGo.YWN0b3I=.57Si5byV</span><span class="hide pos">0</span><span 
                                    class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span 
                                    class="hide pos3_name">indexes</span><span class="hide pos3_value">0</span><img src="http://39.106.151.0/self-mvc/public/homePage_files/dot.gif"
                                                                                                                    title="扩展/收起" 
                                                                                                                    alt="扩展/收起" 
                                                                                                                    class="icon ic_b_plus" type="index" database="<?=$database?>" table="<?=$table?>"></a>
                            </div> 
                        <i> 
                                <div class="block "><a 
                                            href="tbl_structure.php?server=1&amp;db=a67&amp;table=actor&amp;token=88ce978716ab9a1ebd5a22ee7c857ed9"><img 
                                            src="http://39.106.151.0/self-mvc/public/homePage_files/dot.gif" title="索引" alt="索引" class="icon ic_b_index"></a></div>&nbsp;<a
                                    class="hover_show_full" 
                                    href="tbl_structure.php?server=1&amp;db=a67&amp;table=actor&amp;token=88ce978716ab9a1ebd5a22ee7c857ed9">索引</a></i> 
                        <div class="clearfloat"></div> 
             
                    </li> 
            </ul> 
    </div>
</body>
</html>