<div id="page_content">
    <h2>
        <img src="http://39.106.151.0/self-mvc/public/home_files/dot.gif" title="" alt="" class="icon ic_b_engine">    存储引擎
    </h2>
    <table class="noclick">
        <thead>
        <tr>
            <th>存储引擎</th>
            <th>说明</th>
        </tr>
        </thead>
        <tbody>
        <tr class="
                odd                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=InnoDB&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    InnoDB                    </a>
            </td>
            <td>Supports transactions, row-level locking, and foreign keys</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=MRG_MYISAM&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    MRG_MYISAM                    </a>
            </td>
            <td>Collection of identical MyISAM tables</td>
        </tr>
        <tr class="
                odd                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=MEMORY&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    MEMORY                    </a>
            </td>
            <td>Hash based, stored in memory, useful for temporary tables</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=BLACKHOLE&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    BLACKHOLE                    </a>
            </td>
            <td>/dev/null storage engine (anything you write to it disappears)</td>
        </tr>
        <tr class="
                odd                                 marked">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=MyISAM&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    MyISAM                    </a>
            </td>
            <td>MyISAM storage engine</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=CSV&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    CSV                    </a>
            </td>
            <td>CSV storage engine</td>
        </tr>
        <tr class="
                odd                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=ARCHIVE&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    ARCHIVE                    </a>
            </td>
            <td>Archive storage engine</td>
        </tr>
        <tr class="
                even                                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=PERFORMANCE_SCHEMA&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    PERFORMANCE_SCHEMA                    </a>
            </td>
            <td>Performance Schema</td>
        </tr>
        <tr class="
                odd                 disabled                ">
            <td>
                <a rel="newpage" href="http://localhost/phpmyadmin/server_engines.php?engine=FEDERATED&amp;token=ca6974d1745ef0135ac9d2f3318145bf">
                    FEDERATED                    </a>
            </td>
            <td>Federated MySQL storage engine</td>
        </tr>
        </tbody>
    </table></div>